
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color: #835E4A;
    opacity: 0.8;

    &_Logo {
      display: grid;
      place-items: center;
      height: auto;
      height: 12vh;
      width: 100%;
  }
}
.pageHeader {
  display: flex;
  align-items: row;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  height: auto;
  padding: 2vh;
  cursor: pointer;
  padding: '10px';
  margin-top:-25;
  background-color: '#708090';
 }
  
.background{
  height: 180vh;
  background-color: #835E4A;
  opacity: 0.8;
}
.Item {
  display: flex;
  align-items: center;
  place-content: flex-start;
  padding: .5rem;
  color: black;
  cursor: pointer;
  font-size: 700;
 }
