

.andreaCollectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 30px;
  width: 100vw;
  height: 140vh;
  background-image: url('../../assets/images/PaintBrushes.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
.collectionsText {
  font-size: 24px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
.collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collectionsTitle {
  font-size: 48px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
.collectionsCarousel  {
  flex-direction: column;
  height: 90vh;
  padding: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 100vh;
  }
}
.collectionCard {
  margin: auto;
  width: 60%;
  height: auto;
  color: whitesmoke;
  background-color: #835E4B;
  border-radius: 1em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: 768px) {
    width: 20em;
    font-size: medium;
    margin: 1em;
  }
}
