.homeCarousel  {
  height: 30%;
   padding-bottom: 20vh ;
   @media screen and (max-width: 768px) {
     flex-direction: column;
     height: 90vh;
     margin-top: 50px;
   }
 }
.andreaImage {
  height: 80vh;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  @media screen and (max-width: 768px) {
    height: auto;
    width: 90vw;
  }
}
